Flow 1.json
[{"id":"51a1cd7d.339594","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"6f23e56e.75909c","type":"inject","z":"51a1cd7d.339594","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":160,"wires":[["3d7291c3.93ec7e"]]},{"id":"427518fa.abea48","type":"inject","z":"51a1cd7d.339594","name":"","topic":"","payload":",,30.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":240,"wires":[["3d7291c3.93ec7e"]]},{"id":"3d7291c3.93ec7e","type":"mqtt out","z":"51a1cd7d.339594","name":"","topic":"mcs/DnaXXDsO/TKPysDkk8Umn79YU/Temperature","qos":"2","retain":"","broker":"2b07bff8.4d119","x":400,"y":200,"wires":[]},{"id":"2b07bff8.4d119","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]