Flow 2.json
[{"id":"a3363caa.f30c6","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"d9071bcd.8786d8","type":"mqtt in","z":"a3363caa.f30c6","name":"","topic":"mcs/DnaXXDsO/TKPysDkk8Umn79YU/+","qos":"2","datatype":"auto","broker":"2b07bff8.4d119","x":160,"y":280,"wires":[["c5e540f1.007cd"]]},{"id":"c5e540f1.007cd","type":"csv","z":"a3363caa.f30c6","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":410,"y":280,"wires":[["8d1c72c9.775c9"]]},{"id":"8d1c72c9.775c9","type":"change","z":"a3363caa.f30c6","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":340,"wires":[["3105236d.d43a5c"]]},{"id":"3105236d.d43a5c","type":"ui_gauge","z":"a3363caa.f30c6","name":"","group":"dd2cf4d5.6ead18","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":400,"wires":[]},{"id":"2b07bff8.4d119","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd2cf4d5.6ead18","type":"ui_group","z":"","name":"Status","tab":"3ed868d0.c7ea48","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ed868d0.c7ea48","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]